<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="vue.min.js"></script>
  <style>
    .verde {
      color: green
    }

    .azul {
      background-color: blue;
    }

    .vermelho {
      background-color: red;
    }

    .borda {
      border: 1px solid;
    }

    .div-principal {
      width: 200px;
      height: 200px;
    }

    .div-comum {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
  </style>
</head>
<body>

  <div id="app">
    <div>
    {{ mensagem }} <br>
    Valor total: {{ valorTotal }} <br>
    logado: {{ logado }} <br>
    Hobbie: {{ hobbies[3] }} <br>
    Perfil: {{ perfil.site }}, {{ perfil.cursos[0].nome }} <br>

    Somar: {{ somar() }} <br>
    Subtrair: {{ subtrair() }} <br>
    Multiplicar: {{ multiplicar() }} <br>
    Dividir: {{ dividir() }} <br> <br> <br>

    <a :href="site">Site</a>
    <p :class="cor">Entendendo a diretiva v-bind</p>
    <input type="text" :placeholder="instrucaoDePreenchimento"> <br>
    <input type="checkbox" :checked="check"> <br> <br> <br>

    <input type="text" :value="2 + 2" :class="teste ? 'azul' : 'vermelho' "> <br> <br>

    <input type="text" @keyup="imprimirTexto('Enviando parametro', 5, xyz)">
    <button @click="mensagemAlerta($event)">Botao</button> <br> <br> <br>

    <div class="borda div-principal" :class="cor">
      Cor: {{ cor }} <br>
      Posicao X do Mouse: {{ posicaoX }} <br>
      Posicao Y do Mouse: {{ posicaoY }}
    </div>
    <hr>
    <div @click="mudarCor('azul')" class="borda div-comum"></div>
    <div @mouseover="mudarCor('vermelho')" @mouseout="mudarCor('verde')" class="borda div-comum"></div>
    <div @mousemove="coordenadas($event)" class="borda div-comum"></div>

    <hr>

    <a href="https://jorgesantana.net.br" target="_blank" @click.prevent="prevenirComportamentoPadrao()">Link</a>
    {{ msg }}
    <hr>
    <button @click.once="executarUmaVez()">Botao</button>
    <p>Cliques: {{ cliques }}</p>
    <hr>
    <form @submit.prevent.once="prevenirUmaVez()">
      <button type="submit">Enviar</button>
    </form>
    <p>Formulario: {{ formulario }}</p>
    <hr>
    <input type="text" @keyup.Shift.Enter="capturandoTeclas($event)">
    <p>Teclas: {{ teclas }}</p>

    <hr>
    <input type="text" name="" id="inputTexto">
    <br>
    <select name="" id="opcoes">
      <option value="A">Opcao 1</option>
      <option value="B">Opcao 2</option>
      <option value="C">Opcao 2</option>
    </select>
    <br>
    <p id="paragrafo" style="color:red">Paragrafo</p>
    <div id="bloco">conteudo interno da div</div> <br>
    <button @click="selecionarElementoFilho()">Botao</button>
  </div>

    <br>
    <hr>
    <br>
  <!-- v-if simples -->
  <button @click="exibirSaldo = !exibirSaldo">
    <span v-if="!exibirSaldo">Exibir saldo</span>
    <span v-if="exibirSaldo">Ocultar saldo</span>
  </button>
  <p>Saldo: <span v-if="exibirSaldo">R$ {{ saldo }}</span></p>

  <!-- v-if e v-else  -->
  Idade: <input type="text" id="inputIdade" @blur="setIdade()">
  <p v-if="idade < 18">Menor de Idade <a><span></span></a></p>
  <p v-else>Maior de idade</p>

  <!-- v-show  -->
  <p @mouseover="exibirTextoAjuda = true" @mouseout="exibirTextoAjuda = false">Exemplo tooltip</p>
  <div v-show="exibirTextoAjuda">
    <h3>Titulo texto ajuda</h3>
    <p>Conteudo texto ajuda</p>
  </div>

  <!-- v-HTML  -->
  <div v-html="elementosHTML"></div>

  <!-- v-once  -->
  <p v-once>Saldo inicial: {{ saldo }}</p>
  <p>Saldo atualizado: {{ saldo }}</p>
  <input type="text" id="valor">
  <button @click="creditar()">Creditar</button>
  <button @click="debitar()">Debitar</button>

  <!-- v-for  -->
  <ul>
    <li v-for="(curso, key) in cursos"> {{ key }} - {{ curso }}</li>
    <p></p>
    <li v-for="(curso, key) in cursos" v-text="key + ' - ' + curso "></li>
  </ul>

  <hr>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Descricao</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="({titulo, descricao}, chave) in cursos2"> <!--destructuring assignment -->
        <td>{{chave}}</td>
        <td>{{titulo}}</td>
        <td>{{descricao}}</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <ul>
    <li v-for="p in publicacoes" style="border: solid 1px; margin-bottom:10px;">
      <div>
        {{p.publicacao}}
        <hr>
        <input type="text">
      </div>
    </li>
  </ul>

  </div>
  <script>

    const vm = new Vue({
      el: '#app',
      data: {
        mensagem: 'Primeiro template controlado pelo Vue',
        valorTotal: 150.47,
        logado: false,
        hobbies: [
          'Dormir',
          'Colecionar video games antigos',
          'Correr',
          'Trilhas'
        ],
        perfil: {
          nome: 'Jorge Sant Ana',
          site: 'jorgesantana.net.br',
          idade: 32,
          cursos: [
            {
              nome: 'Laravel',
              cargaHoraria: '50 horas'
            },
            {
              nome: 'Banco de Dados Relacionais',
              cargaHoraria: '40 horas'
            }
          ]
        },
        n1: 10,
        n2: 5,
        site: 'https://jorgesantana.net.br',
        cor: 'verde',
        instrucaoDePreenchimento: 'Placeholder - Diretiva v-bind',
        check: true,
        teste: false,
        xyz: true,
        posicaoX: 0,
        posicaoY: 0,
        msg: '',
        cliques: 0,
        formulario: '',
        teclas: '',
        saldo: '4570',
        exibirSaldo: false,
        idade: 0,
        exibirTextoAjuda: false,
        elementosHTML: '<p><b>Site</b></p><a href="https://jorgesantana.net.br">Jorge Sant Ana</a>',
        cursos: ['laravel', 'web completo', 'banco de dados', 'solid', 'angular', 'vuejs'],
        cursos2: {
          1000: { titulo: 'laravel', descricao: 'Domine o framework PHP mais poderoso'},
          1001: { titulo: 'Banco de dados', descricao: 'Aprenda os pricipais BDs'}
        },
        publicacoes: [
          { id: 1, publicacao: 'Publicacao 1'},
          { id: 2, publicacao: 'Publicacao 2'},
          { id: 3, publicacao: 'Publicacao 3'}
        ]
      },

      methods: {
        somar: function somar() { //convencional
          return this.n1 + this.n2
        },
        subtrair: function() { //anonima
          return this.n1 - this.n2
        },
        multiplicar: () => { //arrow function
          return 4 * 2
        },
        dividir() { //forma enxuta de definir os pares de chave/valor
          return this.n1 / this.n2
        },
        mensagemAlerta(event) {
          alert('Mensagem de Alerta')
          console.log(event)
        },
        imprimirTexto(t, n, x) {
          console.log(t)
          console.log(n)
          console.log(x)
        },
        mudarCor(c) {
          this.cor = c
        },
        coordenadas(e) {
          this.posicaoX = e.clientX
          this.posicaoY = e.clientY
        },
        prevenirComportamentoPadrao() {
          this.msg = 'Comportamento padrao ativado'
        },
        executarUmaVez() {
          this.cliques++
        },
        prevenirUmaVez() {
          this.formulario = 'Prevenindo o comportamento padrao'
        },
        capturandoTeclas(e) {
          this.teclas += e.key
        },
        selecionarElementoFilho() {
          console.log(inputTexto.value)
          console.log(opcoes.value)
          console.log(paragrafo.style.color)
          console.log(bloco.innerHTML)
        },
        setIdade() {
          this.idade = inputIdade.value
        },
        creditar() {
          this.saldo += parseFloat(valor.value)
        },
        debitar() {
          this.saldo -= parseFloat(valor.value)
        }
      }
    })

  </script>
</body>
</html>